.gemstitle{
    /* background-color: white; */
    text-align: center;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.66) 0px 22px 70px 4px;
    padding: 2%;
    background-color:#ebebeb;
    /* font-size: 30px; */
    /* font-weight: 100; */
    margin-top: 13px;

}


.goright{
    text-align: right;
}

.gogoleft{
    float:left;
    margin-right: 2pt;
}

.gogoright{
    float:right;

}

.boxshadow{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 22px 70px 4px;
}

.borderradius{
    border-radius: 20px;
}

.paddingtop{
    padding-top: 3%;
}

.whitecolor{
    /* padding-top: 1%; */
    background-color: white;
    border-radius: 5px;
}

.tabtabtab{
    padding-left: 8%;
}

.col1{
    width: 80%
}
.col2{
    width: 20%
}

.width{
    width: 100%;
}

.wrairbkimg{
   background-image: url(../assets/wrairheader.png);
   background-position: bottom;
   background-size:contain;
   padding: 5%;

}

.space{
    margin-top: 1%;
}

.tab4{
    padding-left: 12%; 
}

.cartecolor{
    background: #4169E2;
    background-image: linear-gradient(
        #4169E2,
        white
    );
    text-shadow: 2px 2px 3.5px white;
    text-align: center;
    padding: 4%;
}

.whitetext{
    color:black; 
    /* -webkit-text-stroke-width: thin; */
    text-align: center;
    /* font-family: fantasy; */
    font-size:60px;
    /* font-weight: normal; */
    /* background-color: #ebebeb; */
    background-color: white;
    border-radius: 10px;
    /* font-style:oblique; */
    /* font-variant: small-caps; */
}

.cartetext{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
}

.bold{
    font-weight:bolder
}

.oblique{
    font-style: oblique;
}

.left{
    float: left;
    margin-right: 2px
}
.right{
    float:right;
}

.tab{
   padding-left: 4%;
}
.tabtab{
    padding-left: 6%;
}
.dbltab{
    padding-left: 3%;
    padding-right: 3%;
}

.center{
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;

}

.lilletter{
    font-size: 12px;
    /* font-family: fantasy; */
}

.bigletter{
    font-size: 22px;
}

.medletter{
    font-size: 18px;
}

.graycolor{
    /* color:#ebebeb; */
    background-color: #ebebeb;
}

.hrstyling{
    
    border-top: 4px solid black;
    color: black;
    border-radius: 1px;

}

.cartedemo{
    padding-top: 5px;
    /* box-shadow: 10px 10px 5px gray; */
    border-radius: 60px;
    padding: 7px;
    /* margin: 10px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 12px 40px 2px;  */
}

.carteimg{
    border-radius: 10px;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    height: 100%;
    width:100%;
    display: flex;
}

.padding{
    padding-top: 1%;
}

.bigspace{
    margin-top: 4%;
}

.center2{
    justify-content: center;
    /* text-align: center; */
    align-items: center;
}

.padding2{
    padding: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.center3
{
    align-items: center;
}
