@font-face {
    font-family: 'brownsugar';
    src: url(/src/assets/Brown\ Sugar\ .otf);
    font-style: normal;
    font-weight: 100;
}
.bg_color{
    background-color: #EDECED;
}

.paddingtop{
    padding-top: 3%;
}

/* .titlefont{
    font-size: 100px;
    font-family: brownsugar;
    /* font-weight: 100; 
} */

.medtitlefont{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
}

.smtitlefont{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.floatbottom{
    align-items:flex-end   
}

.center{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.padding{
    padding: 5%;
}

.floatright{
    float: right;
}

.ecbutton{
    border-radius: 50px;
    background-color: #1F79A6;

}

.blue_bgcolor{
    background-color: #1F79A6;
}

.brown_bgcolor{
   background-color: #987716;
}


.background_img{
    background-image: url(../assets/coding_bg.png);
    /* background-position: bottom; */
    background-size:contain;
    padding: 0.5%;
}

.border_radius{
    border-radius: 10px;
}

.whitetext{
    color: white;
}

.circle{
    padding:7%;
    background-color:#EDECED;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    text-align: center;
    display:flex
    /* border-style:solid; */
    /* border-color: black; */
    /* border-style: groove; */
}

.square{
    background-color: #987716;
    /* padding: 7%; */
    border-radius: 10%;
    width: 100%;
    /* height: 100%; */
}

.center2{
    /* text-align: center; */
    align-items: center;
}

.bellezafont{
    font-family: "Belleza";
}

.italianafont{
    font-family: "Italiana";
    /* font-size:xx-large; */
    display:flex;
    /* font-weight:bold; */
}
body{
    font-family: "Belleza";
}

.max-height{
    max-height: min-content; 
}

.max-width{
    max-width: 100%;
}

.custom-container{
    /* width: 100%;
    height: auto; */
    display: inline-block;
    position: relative;
    width: 100%;


}
.burnt-brown{
    background-color: #987716;
}

.birdimg{
    border-radius: 10px;
    /* max-height: 500px; */
    /* max-width: 450px; */
 
}
.card {
    position: relative;
    display: inline-block;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 99; */
}
.card:hover .img-top {
    display: inline;
}

.whitebackgroung{
    background-color: white;
}

.footertext{
    color:white;
    
}





