.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'brownsugar';
  src: url(/src/assets/Brown\ Sugar\ .otf);
  font-style: normal;
  font-weight: 100;
}

html{ font-size: 12px;}
p{
  font-size: calc(1rem + 1vw);
  font-family: 'Courier New', Courier, monospace;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
 /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  /* NICE AS A BOLDING FONT font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: sans-serif;
  font-family: monospace;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: unset;
  font-family: initial; */
}

#title-font{
  font-size: calc(4rem + 4vw);
  font-family: brownsugar;
}
#secondary-title-font{
  font-size: calc(3rem + 3vw);
  font-family: brownsugar;
}
#tertiary-title-font{
  font-size: calc(2rem + 2vw);
  font-family: brownsugar;
}

#heading{
  font-family: initial;
  font-size: calc(1.5rem + 1.5vw)
}


#subheading{
  font-family: initial;
  font-size: calc(1rem + 1vw);
}

#text{
  font-family: initial;
  font-size: calc(0.75rem + 0.75vw);

}

#bolded-subheading{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.bottom-container{
  position: relative;
}

.bottom{
  position: absolute;
  /* position:fixed; */
  bottom: 0;
  /* left: 0; */
}

@media only screen and (max-width: 577px){
  #sm-screen{
    display:none
  }
}
@media only screen and (min-width: 577px){
  #add-sm-screen{
    display:none
  }
}



