.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'brownsugar';
  src: url(/src/assets/Brown\ Sugar\ .otf);
  font-style: normal;
  font-weight: 100;
}


html{ font-size: 12px;}
p{
  font-size: calc(1rem + 1vw);
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.1em;
}

#title-font{
  font-size: calc(4rem + 4vw);
  font-family: brownsugar;
}
#secondary-title-font{
  font-size: calc(3rem + 3vw);
  font-family: brownsugar;
}
#tertiary-title-font{
  font-size: calc(2rem + 2vw);
  font-family: brownsugar;
  /* font-weight: bold; */
  /* font-weight: 550; */
  letter-spacing: 0.1em;
}

#fourth-title-font{
  font-size: calc(1.5rem + 1.5vw);
  font-family: initial;
  /* font-weight: bold; */
  /* font-weight: 550; */
  letter-spacing: 0.1em;

}

#bsheading{
  font-size: calc(1.5rem + 1.5vw);
  /* font-family: brownsugar; */
  letter-spacing: 0.3em;
}
#heading{
  font-family: initial;
  font-size: calc(1.5rem + 1.5vw)
}


#subheading{
  font-family: initial;
  font-size: calc(1rem + 1vw);
}

#text{
  font-family: initial;
  font-size: calc(0.75rem + 0.75vw);

}

#bolded-subheading{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.1em
}

.bottom-container{
  position: relative;
}

.bottom{
  position: absolute;
  bottom: 0;
}
.white-color{
  color:#ebebeb;
}
.black-color{
  color: black;
}

.blue-bk{
  background-color: #1F79A6;
}

.green-bk{
  background-color: #727958;
}
.black-bk{
  background-color: black;
}
.invisible-text{
  text-indent: -999px;
}

.center-in-page{
  display: flex;
  align-items: center;
  justify-content: center;
}

.max-width{
  max-width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 1%;
}
.bg_color{
  background-color: #EDECED;
}
.center{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.brown_bgcolor{
  background-color: #987716;
}

.custom-container{
  /* height: auto; */
  display: inline-block;
  position: relative;
  width: 100%;
}

a {
  text-decoration: none !important;
}


@media only screen and (max-width: 577px){
  #sm-screen{
    display:none
  }
}
@media only screen and (min-width: 577px){
  #add-sm-screen{
    display:none
  }
}


/* animated scroll css  */

body {
  animation: body 1s linear;
}
/* @keyframes body {
  to {
    background-color: black;
  }
} */

.progress {
  height: 0.5px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  z-index: 9;
  /* position: relative; */
  /* position: absolute; */
  top: 0;
  left: 0;
  animation: progress 1s linear;
}
@keyframes progress {
  to {
    background-color: black;
    width: 100%;
  }
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}



